/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* RESET */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* NAV */
.barra{
    background-color: aqua;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    border: 10px solid blue;
    box-sizing: border-box;
    
}

ul li{
    display: inline;
}

.texto_titulo span{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    

}


/* DISCOGRAFIA */
.body_discos{
    background-color: rgb(17, 16, 16);
}


