@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,800&family=Poppins:wght@700&display=swap");
/* RESET */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* NAV */
.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  transition: all 0.2s;
  opacity: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(5, 7, 0);
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.container-fluid img {
  transition: all 0.3s;
  margin: 15px;
}

.container-fluid img:hover {
  transform: scale(1.2);
}

/* FIN NAV */
/* INDEX */
.body_index {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 24, 24);
  color: #ccc;
}

.titulo_principal {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titulo_principal h1 {
  margin-top: 15px;
  margin-bottom: 10px;
}
.titulo_principal p {
  margin-top: 15px;
  margin-bottom: 20px;
}

.media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media .video_inicio {
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
}
.media .video_inicio .p {
  color: black;
}
.media .entradas {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  width: 230px;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 10px;
  background-color: rgba(151, 56, 56, 0.7058823529);
  border-radius: 15px;
}

.button_fin {
  border: 0;
  background-image: linear-gradient(150deg, #973838, #ec3b3b, #fc1f1f);
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.button_fin span {
  background-color: #111;
  padding: 8px 18px;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover span {
  background: none;
  color: #111;
}

button:active {
  transform: scale(0.9);
}

/* FIN INDEX */
/* HISTORIA */
.body_historia {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 24, 24);
  color: #ccc;
}

.container_titles {
  margin-top: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  /* align-items: center; */
}
.container_titles .imagenes_audios h1 {
  font-size: 2.5rem;
  text-align: center;
}
.container_titles .imagenes_audios p {
  font-size: 15;
  text-align: center;
}

.container {
  color: #ccc;
  margin: 20px 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}
.container .container img {
  max-width: 100%;
  height: auto;
}

.titulo-integrantes {
  margin-top: 10px;
  margin-bottom: 20px;
}
.titulo-integrantes span {
  font-size: 2rem;
}

.gallery {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}
.gallery .imagen {
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.gallery .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .nombre {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(163, 74, 74, 0.5490196078);
  width: 100%;
}

#bandas-relacionadas {
  background-color: rgb(81, 151, 23);
  text-align: center;
}
#bandas-relacionadas .container {
  padding: 100px 0px;
}
#bandas-relacionadas h3 {
  margin-top: 0;
  font-size: 3em;
}
#bandas-relacionadas p {
  display: none;
}

.carta {
  background-position: center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}

.carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/the-strokes.jpg);
}

.carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/las-ligas-menores.jpg);
}

.carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/usted-senalemelo.jpg);
}

#bandas-relacionadas .bandas {
  display: flex;
  justify-content: center;
}
#bandas-relacionadas p {
  display: block;
  margin-bottom: 30px;
}
#bandas-relacionadas .carta {
  padding: 50px;
}

/* FIN HISTORIA */
/* DISCOGRAFIA */
.body_discografia {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 24, 24);
  color: #ccc;
}

.texto_titulo h1 {
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
}
.texto_titulo p {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.discos_padre {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.disco {
  width: 48%;
  height: 100%;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}
.disco iframe {
  margin-top: 10px;
}

.disco img {
  max-width: 75%;
  height: auto;
}

/* FIN DISCOGRAFIA */
/* GALERIA */
.body_galeria {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 24, 24);
  color: #ccc;
}

/* FIN GALERIA */
/* CONCIERTOS */
.body_conciertos {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 24, 24);
  color: #ccc;
}

/* FIN CONCIERTOS */
@media (max-width: 1000px) {
  .gallery {
    width: 95%;
  }
}
@media (max-width: 700px) {
  .gallery {
    width: 90%;
  }
  .imagen {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .disco {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
