@media (max-width: 1000px){
    .gallery{
        width: 95%;
    }
}

@media (max-width: 700px){
    .gallery{
        width: 90%;
    }

    .imagen{
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    .galeria-vertical {
      flex-direction: column; 
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .disco {
        width: 100%;
    }
}


@media (min-width: 770px){
    
    #bandas-relacionadas{
    
        .bandas{
            display: flex;
            justify-content: center;
            
            .carta{
                padding: 50px;
                background-size: 100% 150px;
                background-repeat: no-repeat;
                background-position-y: 0;
                background-color: rgba(233, 19, 19, 0.445);
                box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    
                h4{
                    margin-top: 150px;
    
                }
            
                p{
                    display: block;
                    margin-bottom: 30px;
                }
            
            }
    
        }
    
        
    }
    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),url(../imagenes/the-strokes-cropped.jpg);
        
    }
    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),url(../imagenes/las-ligas-menores-cropped.jpg);
    
    }
    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),url(../imagenes/usted-senalemelo-cropped.jpg);
    }
    
}

@media screen and (max-width: 650px) {
    .wrapper{

        img {
            max-width: 100%;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 820px) {
    .wrapper-historia{

        .imagen-historia{

            img {
                max-width: 100%;
                margin-right: 0;
            }
        }

    }
}

@media screen and (max-width: 768px) {
    .wrapper-historia{
        .textos-historia{

            .textos p {
                max-height: 300px;
                overflow-y: auto;
            }
        }
    }
}