/*Comentario*/
.titulo_principal{
    color: cadetblue;
}
.formulario{
    background: grey;
}
.form_control {background: rgb(95, 236, 137);padding: 20px;
}

.barra{
    background: rgba(136, 2, 102, 0.596); padding: 20px;
}
.media{
    background-color: rgb(1, 20, 20);
}
.video_inicio{width: 100%;}
.contenido p{font-size: 20px;}
.imagenes_audios p{font-size: 20px;}

main h1.discografia{font-size: 60px; color: orange; background-color: rgba(0, 0, 0, 0.555);}


@font-face {
    font-family:"GoodBoy";
    src: url(../fuentes/Good\ Boy.otf);
}

.container_titles h1{
    font-size:40px;
    font-family:"Goodboy" ,cursive
}
.galeria img{ width: 35%;} p{font-size: 40px;} 
.galeria h1{background-color: blueviolet;}

.conciertos h1{color: rgb(4, 41, 97);font-size: 65px;}

.conciertos h2{font-size: 30px; background-color: red;}
.conciertos nav a{font-size: 30px;}
